<header class="bg-indigo-600 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to root_path, class: "text-xl font-bold hover:text-blue-600 transition-colors" do %>
      Task Manager
    <% end %>
    <div class="flex items-center">
      <% if current_user %>
        <span class="mr-4">Signed in as: <%= current_user.username %></span>
        <%= button_to "Sign out", session_path, method: :delete, data: { turbo_confirm: "Are you sure you want to sign out?" }, class: "text-white underline" %>
      <% else %>
        <span>Not signed in</span>
      <% end %>
    </div>
  </div>
</header> 